/*
Colores:
Verde: #badc58;
Verde Oscuro: #6ab04c;
Verde más Oscuro:#548b3d;
Fondo: #f9f4e8;
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #333;
  font-size: 1.2rem;
  line-height: 1.4em;
  min-height: 100vh;
  background: #f9f4e8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.header {
  position: fixed;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  background: #f9f4e8;
  border-bottom: 2px solid #6ab04c;
  z-index: 10;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.header a {
  color: #251a1a;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
}

.nav-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-img {
  width: 5em;
}

.menu-icon {
  display: none;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  display: block;
  padding: 0.4rem;
  border-radius: 0.2em;
}

.navbar ul li a:hover {
  color: #fff;
  background: #6ab04c;
  border: 2px solid #6ab04c;
}

.navbar ul li a:active {
  background: #6ab04c;
  transform: scale(0.98);
}

.btn {
  width: 8em;
  border: 2px solid #badc58;
}

.btn span {
  margin-right: 10px;
}

/* MAIN */

.main {
  width: 90%;
  height: 100vh;
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-head-form {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  border: 2px solid #548b3d;
  background: #f9f4e8;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

h1 {
  line-height: 1.3em;
  font-size: 2em;
}

.form-box {
  background: #badc58;
  width: 18em;
  height: 23em;
  margin-top: -1.5em;
  padding: 2em 2em;
  border: 2px solid #548b3d;
  border-radius: 0.2em;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.form-title {
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
}

.form-box a,
.form-box p {
  font-size: 0.8em;
  font-weight: 500;
  color: #333;
}

.form-box .forgot {
  text-decoration: none;
}

.form-box .sign-in {
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
}

.form-box input,
.form-box button {
  border: 0;
  background: none;
  display: block;
  margin: 1em auto;
  padding: 1rem;
  text-align: center;
  background-color: #f9f4e8;
  border: 2px solid #6ab04c;
  width: 15em;
  outline: none;
  font-size: 0.8em;
  transition: 0.3s;
}

.form-box input {
  border-radius: 0.2em;
}

.form-box input:focus {
  transform: scale(1.1);
  border: 2px solid transparent;
  box-shadow: 0px 2px 0px #333;
  color: #333;
}

.form-box button {
  margin-top: 2em;
  background: #6ab04c;
  border: 2px solid #548b3d;
  border-radius: 0.2em;
  color: #fff;
  cursor: pointer;
}

.form-box button:hover {
  background: #548b3d;
  box-shadow: 0px 2px 0px #333;
  transform: scale(1.1);
  color: #fff;
}

/* FOOTER */

footer {
  width: 100vw;
  height: auto;
  padding-top: 1em;
  color: #333;
  background: #badc58;
}

.footer-content {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 3rem;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 1em;
}

.socials a {
  text-decoration: none;
  color: #333;
}

.socials a i {
  position: relative;
  font-size: 1.5em;
}

ul li:nth-child(1) {
  border-color: #1da1f2;
}
ul li:nth-child(1):hover .fab {
  color: #1da1f2;
}

ul li:nth-child(2):hover .fab {
  color: #0a66c2;
}

ul li:nth-child(3):hover .fab {
  color: #090c10;
}

/* Media queries */

@media (max-width: 900px) {
  main.main {
    height: 130vh;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    margin: 1em 1em;
    padding: 1rem 1rem;
    border: 2px solid #6ab04c;
    border-radius: 0.2em;
  }

  .menu-icon:hover {
    background: #6ab04c;
    color: #fff;
  }
  .logo-nav-container {
    height: 5em;
  }

  .navbar {
    width: 100%;
    margin-top: 0rem;
  }

  .navbar ul {
    display: none;
    position: fixed;
    width: 10em;
    height: auto;
    top: 5em;
    right: 0;
    margin: 0 1em;
    background: #f9f4e8;
    border: 2px solid #6ab04c;
  }
  .navbar ul.show {
    display: block;
  }
  .navbar ul li {
    display: block;
  }

  .navbar ul li a {
    display: block;
    margin: 1rem;
    padding: 0.8rem;
  }

  main.main {
    height: 130vh;
  }
}

@media (max-width: 320px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    margin: 1em 1em;
    padding: 1rem 1rem;
    border: 2px solid #6ab04c;
    border-radius: 0.2em;
  }

  .menu-icon:hover {
    background: #6ab04c;
    color: #fff;
  }
  .logo-nav-container {
    height: 5em;
  }

  .navbar {
    width: 100%;
    margin-top: 0rem;
  }

  .navbar ul {
    display: none;
    position: fixed;
    width: 10em;
    height: auto;
    top: 5em;
    right: 0;
    margin: 0 1em;
    background: #f9f4e8;
    border: 2px solid #6ab04c;
  }
  .navbar ul.show {
    display: block;
  }
  .navbar ul li {
    display: block;
  }

  .navbar ul li a {
    display: block;
    margin: 1rem;
    padding: 0.8rem;
  }

  main.main {
    height: 130vh;
    width: 100%;
  }

  .form-box {
    width: 100%;
  }

  .form-box input,
  .form-box button {
    width: 11em;
  }
}
